@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Roboto:wght@100&display=swap');

/*
    Grid the hole page
*/
.all-events-container-grid {
    display: grid;
    height: 100dvh;
    overflow: hidden;
    gap: 10px;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

/* 
    Grid only for events squares
*/
.events-container-area {
    display: inherit;
    width: 100%;
    min-height: max-content;

    grid-template-rows: 20% 40% 40%;
    grid-template-columns: 46% 46% 46% 46%;

    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;

    gap: 2.3rem;

    overflow-x: scroll;
    overflow-y: hidden;
}

.events-container-area > div {
    background: rgba(0, 0, 0, 0.5);
    border-left: 3px solid var(--orange-theme-color);
    border-radius: 8px;
    min-height: max-content;
    margin-bottom: 1rem;
}

/* 
    All Events squares
*/
.events-container-area .event-gc {
    display: inherit;
    grid-row-start: 2;
    grid-column-start: 1;
    
    height: 100%;
}

.events-container-area .event-palestra {
    display: inherit;

    grid-column-start: 2;
    grid-row-start: 2;
    
    height: 100%;
}

.events-container-area .event-bastismo {
    display: inherit;
    grid-row-start: 3;
    grid-column-start: 1;
    
    height: 100%; 
}
.events-container-area .event-acoes-sociais {
    display: inherit;
    grid-row-start: 3;
    grid-column-start: 2;
    
    height: 100%; 
}

.events-container-area .event-culto-amigo {
    display: inherit;
    grid-row-start: 2;
    grid-column-start: 3;
    
    height: 100%; 
}

.events-container-area .event-santa-ceia {
    display: inherit;
    grid-row-start: 3;
    grid-column-start: 3;
    
    height: 100%; 
}

.events-container-area .event-culto-mulheres {
    display: inherit;
    grid-row-start: 2;
    grid-column-start: 4;
    
    height: 100%; 
}

.events-container-area .event-encontro-teen {
    display: inherit;
    grid-row-start: 3;
    grid-column-start: 4;
    
    height: 100%; 
}

.event-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 0 .8rem 1rem;
    color: white;
}

.event-content span {
    font-family: "Barlow";
    font-size: 1rem;
}

.event-content h3 {
    margin: 1rem 1rem 1rem 0;
}

.event-locations {
    display: flex;
    margin-top: 1rem;
    gap: .5rem;
}

.event-locations div {
    display: flex;
    gap: .5rem;
    align-items: baseline;
}

/*
    Styling for scroll bar only for desktop
*/
@media (width > 768px){ 
    /* width */
    ::-webkit-scrollbar {
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--orange-theme-color); 
        border-radius: 10px;   
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--orange-theme-secondary-color);
    }
}

/* Safari */
@media not all and (min-resolution: 0.0001dpcm){
    .events-container-area .event-gc {
        height: 88%;
    }
    .events-container-area .event-palestra {
        height: 88%;
    }
     .events-container-area .event-bastismo {
        height: 88%;
    }
    .events-container-area .event-acoes-sociais {
        height: 88%;
    }
    .events-container-area .event-culto-amigo {
        height: 86%; 
    }
    .events-container-area .event-santa-ceia {
        height: 86%; 
    }
    .events-container-area .event-culto-mulheres {
        height: 86%; 
    }
    .events-container-area .event-encontro-teen {
        height: 86%; 
    }
}

/*
    Style for mobiles and tablets
*/
@media (375px <= width <= 768px){

    .events-container-area {
        margin-left: 5%;
        grid-column-start: 2;

        grid-template-rows: 10% 100%;
        grid-template-columns: 85% 85% 85% 85% 85% 85% 85% 90%;

        gap: 1.5rem;

        span {
            font-size: 1.1rem;
        }
    }
    
    /*
    Fixing events when mobile layout 
    */
    .events-container-area .event-gc {
        grid-row-start: 2;
        grid-column-start: 1;
        height: 86%;
    }

     .events-container-area .event-palestra {
         grid-row-start: 2;
         grid-column-start: 2;
         height: 86%;
     }

     .events-container-area .event-bastismo {
        grid-row-start: 2;
        grid-column-start: 3;
        height: 86%;
    }
    .events-container-area .event-acoes-sociais {
        grid-row-start: 2;
        grid-column-start: 4;
        height: 86%;
    }
    .events-container-area .event-culto-amigo {
        grid-row-start: 2;
        grid-column-start: 5;
        
        height: 86%; 
    }
    .events-container-area .event-santa-ceia {
        grid-row-start: 2;
        grid-column-start: 6;
        
        height: 86%; 
    }
    .events-container-area .event-culto-mulheres {
        grid-row-start: 2;
        grid-column-start: 7;
        
        height: 86%; 
    }
    .events-container-area .event-encontro-teen {
        grid-row-start: 2;
        grid-column-start: 8;
        
        height: 86%; 
    }

    /*
        Event border
    */
    .event-border::before {
        height: 97%;
    }
}