
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Roboto:wght@100&display=swap');

.article-left {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start:2;
    grid-row-end: 4;
   
    width: 13dvw;
}

@media (375px <= width <= 768px) {
  .article-left {
    grid-column-start: 3;
    grid-column-end: 6;
  
    grid-row-start:2;

    width: 40dvw;

    line-height: 2rem;
    padding-left: 3rem;
    margin: 0 15%;
  }
}

.article-left span {
  position: relative;

  font-family: 'Barlow';
  color: white;
  font-size: clamp(calc(1rem - .5rem), 7vw, 3rem);

  word-break: normal;
  text-align: center;
}

.article-left span::before {
  content: "";
  position: absolute;
  left: 7%;
  bottom: 175px;
  width: 9.375rem;
  height: 0.875rem;
  transform: skew(-12deg) translateX(-50%);
  opacity: 70%;
  z-index: -1;
}

.article-left > .underline-text {
  text-decoration: underline;
  text-underline-offset: .8rem;
  text-decoration-color: var(--orange-theme-color);
}