.nav-section-top {
    padding: 3.75rem 3.75rem 0 0;
    grid-column-start: 5;
}

.nav-section-top > nav {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem
}

@media (max-width: 840px) {
  .nav-section-top {
    grid-column: 1 / -1;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
  }

  .nav-section-top > nav {
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}


/* Estou selecionando todos, a partir do 1 elemento */
/* 2n + 1 Seleciona a cada 2 elementos 1*/
/* -n + 5 Seleciona desde o 1 até o 5 elemento*/
/* .nav-section-top > nav > a:nth-child(n+1) {
    padding-right: 3.75rem;
} */