.nav-section-left {
    position: fixed;
    bottom: var(--bottom-navigation-left-nav);
    left: var(--left-navigation-nav);
    transform: rotate(-90deg);

}

.group-description-nav-left {
    display: flex;
    align-items: center;
}

.follow-us {
    color: white;
}

.nav-section-left > .group-description-nav-left > nav > a:nth-child(n+1) {
    padding: 0 1.875rem 0 0;
}

.group-description-nav-left > picture {
    transform: rotate(90deg);
    width: 4rem;
    height: 4rem;
}

@media (375px <= width <= 768px){
    .nav-section-left {
        transform: rotate(0deg);
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
            
    .group-description-nav-left > picture {
        display: none;
    }

    .follow-us {
        display: none;
    }

    .nav-section-left > .group-description-nav-left > nav {
       display: flex;
       flex-direction: row;
       padding: 0;
       
    }
}


